# API Configuration https://github.com/fedirz/faster-whisper-server/blob/master/src/faster_whisper_server/config.py
API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
LOG_LEVEL=debug

# Server Settings
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# CORS Settings
#ALLOW_ORIGINS='["https://your-domain.example"]'

# UI Settings
ENABLE_UI=false

# Whisper Model Configuration
# organization/model-name-v3
# стоит попробовать модели https://huggingface.co/Systran/faster-distil-whisper-large-v2
# https://huggingface.co/Systran/faster-distil-whisper-large-v3
# mobiuslabsgmbh/faster-whisper-large-v3-turbo
WHISPER__MODEL=Systran/faster-whisper-large-v3
WHISPER__INFERENCE_DEVICE=cuda
WHISPER__DEVICE_INDEX=[0]
# Модели ct2 по умолчанию конвертированы в float16
WHISPER__COMPUTE_TYPE=float16
WHISPER__CPU_THREADS=8
WHISPER__NUM_WORKERS=4
# Никогда не выгружать модель
WHISPER__TTL=-1

# Language Settings
DEFAULT_LANGUAGE=ru
# verbose_json, json, srt
DEFAULT_RESPONSE_FORMAT=json

# Model Preloading
PRELOAD_MODELS='["Systran/faster-whisper-large-v3"]'

# Performance-Optimized Timing Settings :
# Максимальное время ожидания следующего аудиофрагмента до завершения транскрипции и закрытия соединения.
MAX_NO_DATA_SECONDS=1.5
# Минимальная продолжительность аудиофрагмента, который будет транскрибироваться.
MIN_DURATION=0.8
WORD_TIMESTAMP_ERROR_MARGIN=0.15
# Максимально допустимая продолжительность звучания без обнаружения речи до завершения транскрипции и закрытия соединения.
MAX_INACTIVITY_SECONDS=3.0
# Контролирует, сколько последних секунд аудио проходит через VAD. Должно быть больше, чем `max_inactivity_seconds`.
INACTIVITY_WINDOW_SECONDS=6.0